
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a2e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-img {
    height: 40px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    
  }
    
  .navbar-links button {
    padding: 10px;
    color: aliceblue;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-links button:hover {
    background-color: #f0f0f0;
    color: black;
    border-radius: 5px;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: aliceblue;
  }
  

  @media (max-width: 768px) {
    .hamburger {
      display: block; 
    }
  
    .navbar-links {
      display: none; 
      flex-direction: column;
      gap: 15px;
      background-color:#1a1a2e;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 1000;
    }
  
    .navbar-links.active {
      display: flex; 
    }
  }
  