@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Style+Script&display=swap');
nav{
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: hsla(0, 0%, 12%, 0.7);
}

.logo{

    font-weight: 400;
    font-family: "Jersey 10", serif;
    font-size: 500%;
    background: -webkit-linear-gradient(hsla(0, 0%, 100%, 1),hsla(252, 77%, 64%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-img{
    display: inline;
    height:70px;
    padding-right: 10px;
    width: 55px;
    position: relative;
    top: 10px;
}
.navbar{
    margin: 0;
    padding: 0;
    display: flex;
}
button{
    border: none;
    background: none;
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: x-large;

    font-family: "Inter", serif;
    
}
button:hover{
    background-color: rgba(196, 196, 196, 0.686);
}

.toggle{
    transform: rotate(90deg);
    display: none;
}

@media (max-width:740px){
    nav{
        flex-direction: column;
    }
    .toggle{
        display: block;
    }
    .navbar{
        flex-direction: column;
        display: none;
    }
        
}